html {
    font-size: 14px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    background-color: #202124;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.nav-bar {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 1rem;
    margin: 8px; 
    width: auto; 
}

.nav-bar li {
    margin-right: 16px;
    font-size: 13px;
    text-align: right;
}

#google {
    font-size: 92px;
    text-align: center;
    margin-top: 60px;
    min-height: 92px;
    max-height: 290px;
}

.search-bar {
    line-height: 30px;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 1px #ffffff; 
    border-width: 0.5px;
    color: #e8eaed;
    border-radius: 20px;
    height: 42px;
    width: 35%;
    margin: 24px; 
    padding-left: 50px;
    position: relative;
}

.search-bar:hover {
    background-color: #2f2f2f;
    box-shadow: 0px 0px 2px #333439;
}

.search-icon{
    position: absolute;
    top: 37%;
    left: 31.5%;
    padding-left: 5px;
    z-index: 1;
}

.microphone-icon {
    position: absolute;
    top: 37%;
    left: 65%;
    z-index: 1;
    cursor: pointer;
}

.camera-icon {
    position: absolute;
    top: 37%;
    left: 67%;
    z-index: 1;
    cursor: pointer;
}

.image-icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: -10px;
    cursor: pointer;
}

.search-bar-div {
    text-align: center;
    width: auto;
}

.below-search-bar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.google-search-button, .feeling-lucky-button {
    background-color: #303134;
    color: #ffffff;
    height: 36px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 130px;
    min-width: 54px;
}

.google-search-button:hover, .feeling-lucky-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px #ffffff;
}
    
.google-search-button {
    margin-right: 12px;
    
}

.google-offered-in {
    font-size: 0.9rem;
    text-align: center;
    margin: 30px;
}

.google-offered-in li {
    list-style: none;
}
    
.languages {
    color: #99c3ff;
    margin: 3px;
}

.languages:hover {
    text-decoration: underline;
    cursor: pointer;
}


.gmail-nav:hover, .images-nav:hover {
    text-decoration: underline;
    cursor: pointer;
}

.flask-icon, .menu-icon{
    border-radius: 50%;
    padding: 10px;
    margin-top: -10px; 
}

.flask-icon:hover, .menu-icon:hover {
    cursor: pointer;
    background-color: #666;
}

.footer-div {
    background-color: rgb(23, 23, 23);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-div2 {
    display: flex;
    padding: 15px 15px 15px 25px;
    border: none;
    box-shadow: 0px 0px 2px grey;
    width: auto;
}

.footer-div3 {
    display: flex;
    flex-direction: row;
    width: 18%;
   
}

.footer-div4 {
    display: flex;
    flex-direction: row;
    width: 82%;
}

.ghana-footer-div {
    padding: 15px 25px;
    margin-left: 20px;
}

.list-right {
    margin: 0px 20px;
}

.list-left {
    margin: 0pc 20px;
    justify-content: right;
}

.list-right:hover, .list-left:hover {
    text-decoration: underline;
    cursor: pointer;
}